
@font-face {
  font-family: 'Steinbeck';
  src: url(''../fonts/SteinbeckRegular.otf'');
}

body {
  background-color: #CECECE;
}

p {
  font-family: 'Steinbeck';
  font-size: 30px;
  line-height: 30px;
}
