
@font-face {
  font-family: 'Steinbeck';
  src: url(''../fonts/SteinbeckRegular.otf'');
}

body {
  background-color: #CECECE;
}

a {
  color: #000000;
  text-decoration: none;
}

.project {
  position: relative;
  z-index: 0;
  font-family: Steinbeck;
  font-size: 48px;
  line-height: 90%;
  padding: 10px 10px 10px 10px;
}
.project h1 {
  width: 100%;
  cursor: pointer;
}

.contacts {
  z-index: 3;
}
#contacts {
  font-family: Steinbeck;
  font-size: 24pt;
  padding: 20px;
  background-color: #4286f4;
  position: fixed;
  top: 19px;
  right: 20px;
}
#asterisk {
  display: none;
  font-family: Steinbeck;
  font-size: 200px;
  color: #4286f4;
  position: fixed;
  top: -42px;
  right: 20px;
  cursor: pointer;
  line-height: normal;
}

.content {
  line-height: 120%;
  display: flex;
  font-size: 24pt;
  text-transform: none;
  padding: 20px 10px 20px 5px;
  cursor: default;
}
.content img {
  filter: drop-shadow(0 0 0.5rem black);
  object-fit: contain;
  max-width: 60%;
  align-self: flex-start;
  max-height: 80vh;
  margin-right: 20px;
  cursor: e-resize;
}

.content video {
  max-height: 80vh;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info p {
  flex-grow: 1;
  max-width: 600px;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.info a {
  color: #c43c3c;
}


#rietveldimg img {
  cursor: pointer;
  padding-bottom: 20px;
}
 #rietveldText p {
   max-width: 50vw;
 }

@media (max-width: 1000px) {
  .project {
    padding: 20px;
  }

  .content{
    flex-direction: column;
    font-size: 36px;
  }
  .content img {
    max-width: 100%;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    object-fit: contain;
    align-self: center;
  }
  .content p {
    padding-right: 0px;
    max-width: 100vw;
  }
  .content video {
    width: 100vw;
  }

  #contacts {
    display: none;
    font-size: 36pt;
    padding-bottom: 40px;
  }

  #asterisk {
    display:block;
    top: 40px;
 }


}
